<%= form_for([@post, @post.comments.build], local: true) do |form| %>
  <% if flash[:comment_errors] %>
    <ul>
    <% flash[:comment_errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>