<%= form_for(post) do |form| %>
  <% if flash[:user_validation] %>
    <ul>
      <li><%= flash[:user_validation] %></li>
    </ul>
  <% end %>
  <% if post.errors.any? %>
    <div>
      <h2><%= pluralize(post.errors.count, "erro") %> proibindo este artigo de ser salvo:</h2>
  
      <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'Titulo' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-success'%>
  </div>
<% end%>