<div class="blog-post text-justify blog-item">
  <div class="card">
    <h2 class="blog-post-title"><%= post.title %></h2>
    <p><%= post.description %></p>

    <div class="row actions-post-item">
      <%= link_to edit_post_path(post) do %>
        <%= fa_icon 'edit' %>
        <span> Editar </span>
      <%end%>

      <%= link_to post_path(post) do %>
        <%= fa_icon 'eye' %>
        <span> Visualizar </span>
      <% end %>
      <%= link_to post, method: 'DELETE', data: { confirm: 'Você tem certeza de que deseja deletar este post?' } do %>
        <%= fa_icon 'trash' %>
        <span> Deletar </span>
      <% end %>
    </div>
  </div>
</div>