<div class="blog-post text-justify blog-item">
  <div class="card">
    <h2 class="blog-post-title"><%= post.title %></h2>
    <p><%= post.description %></p>
    <div class="row actions-post-item">
      <%= link_to post_path(post), class: 'btn btn-primary btn-sm' do %>
        <%= fa_icon 'eye' %>
        <span> Visualizar </span>
      <% end %>
      <% if current_user && validate_user(post.user_id) %>
        <%= link_to edit_post_path(post), class: 'btn btn-primary btn-sm' do %>
          <%= fa_icon 'edit' %>
          <span> Editar </span>
        <%end%>
        <%= link_to post, method: 'DELETE', data: { confirm: 'Você tem certeza de que deseja deletar este post?' }, class: 'btn btn-danger btn-sm' do %>
          <%= fa_icon 'trash' %>
          <span> Deletar </span>
        <% end %>
      <% end %>
    </div>
    <span><strong> <%= post.user.name %> </strong>  <span>
    <span> em <%= post.created_at.to_date.strftime("%d/%m/%Y") %> </span>
  </div>
</div>