<div class="">
  <h4><%= post.title %></h4>
  <p><%= post.description %></p>

  <%= link_to 'Editar', edit_post_path(post)%>
  <%= link_to 'Visualizar', post_path(post)%>
  <%= link_to 'Deletar', post, method: 'DELETE', data: { confirm: 'Você tem certeza de que deseja deletar este post?' } %>
</div>