<div class="col-sm-8 blog-main">
  <h1> <%= @post.title %> </h1>
  <p> <%=@post.description %> </p>
  
  <div class="actions">
    <%= link_to edit_post_path(@post) do %>
      <%= fa_icon 'edit' %>
      <span>Editar</span>
    <% end %>
    
    <%= link_to @post, method: 'DELETE', data: { confirm: 'Você tem certeza de que deseja deletar este post?' } do %>
      <%= fa_icon 'trash'%>
      <span>Deletar</span>
    <% end %>
  </div>

  <hr>
  <h2>Comentários</h2>

  <%= render @post.comments %>

  <%= render 'comments/form' %>

  <%= link_to 'voltar', posts_path %>
</div>