<div class="col-sm-8 blog-main">
  <% if flash[:user_validation] %>
    <ul>
      <li><%= flash[:user_validation] %></li>
    </ul>
  <% end %>
  <h1> <%= @post.title %> </h1>
  <p> <%=@post.description %> </p>
  <% if current_user && validate_user(@post.user_id) %>
    <div class="actions">
      <%= link_to edit_post_path(@post), class: 'btn btn-primary btn-sm' do %>
        <%= fa_icon 'edit' %>
        <span>Editar</span>
      <% end %>
      
      <%= link_to @post, method: 'DELETE', data: { confirm: 'Você tem certeza de que deseja deletar este post?' }, class: 'btn btn-danger btn-sm' do %>
        <%= fa_icon 'trash'%>
        <span>Deletar</span>
      <% end %>
    </div>
  <%end%>

  <hr>
  <h2>Comentários</h2>

  <%= render @post.comments %>

  <%= render 'comments/form' %>

  <%= link_to 'voltar', posts_path %>
</div>